body {
    background-color: #256407;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    color: #F7F4F4;
}

nav {
    position: fixed;
    top:0px;
    width: 100%;
    display: flex;
}
nav div { 
    margin: 0 auto;
}
nav a {  background-color: black;
    color: white;
    padding: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px;
    border-color: #256407;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
}

header{
    margin-top: 5em;
}

.clear 
{
    clear: left;
}

h1 { font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #D2AD86;
    background-color: #000000;
    text-align: center;
    border: solid 1px;
    border-color: white;
    border-radius: 15px 15px 15px 15px;
    line-height: normal;
    font-size: 1.56em;
}
h2 { font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #D2AD86;
    background-color: #000000;
    text-align: center;
    border: solid 1px;
    border-color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 1.25em;
   
    }

.gallery {
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery div:hover {
    border: 1px solid #777;
    
}
.gallery img {
  width: auto;
  height: 200px;
  float: none;
}
.gallery a {
background-color: transparent !important;
padding: 0;   
}
.gallery figcaption {
  text-align: center;
  padding: 15px;
  
}
.gallery figure{
    margin: 1em;
    text-align: center;
    border: 1px solid transparent;
}
img {
    border: solid 2px white;
    border-radius: 15px 15px 15px 15px;
    
}
article {
    column-count: 2;
    column-width: 400px;
    column-gap: 1em;
    text-align: justify;
    padding-right: 150px;
    padding-left: 50px;
    padding-top: 50px;
    border: solid white;
    
}
article p 
{
    margin: auto;
    padding: 100px;
}

.one
{
    margin: auto;
    padding: 50px;
}
.paul1img {
 float: none;
 margin-right: 5px;
}

